<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a escala inicial e a largura da visualização para dispositivos móveis -->
    <title>Página de Rotas</title> <!-- Define o título da página -->
</head>
<body>
    <h1>Consultas Agendadas</h1> <!-- Título principal da página -->
    <ul>
        {% for contato in contatos %} <!-- Loop através de cada contato na lista de contatos -->
        <li>{{ contato[1] }} - {{ contato[2] }} - {{ contato[3] }} - {{ contato[4] }}<!-- Exibe as informações do contato, incluindo o nome, número de telefone e email. Se for favorito, adiciona um marcador -->
            <ul>
                <li><a href="/apagar_contato/{{ loop.index0 }}">Apagar</a></li> <!-- Link para apagar o contato -->
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="/agenda">Agendar Consulta</a> <!-- Link para adicionar um novo contato -->
    <h2>Calculadora de miligramas/peso corporal do medicamento</h2> <!-- Título principal da página -->
    <a href="/calculadoramp">Calcular agora</a> <!-- Link para adicionar um novo contato -->
</body>
</html>